.markdown h1 {
  font-size: 2em;
  font-weight: bold
}

.markdown p {
  font-size: 1.2em;
  font-weight: 600
}

.markdown code {
  background-color: #d3d6e0;
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 0.85em;
  margin: 0;
  padding: 0.2em 0.4em;
}

.markdown pre {
  background-color: #d3d6e0;
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 0.85em;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em
}